.card-widget {
  border: 1px solid #e3e8f7;
  border-radius: 15px;
  background-color: var(--color-post-content-bg-default);
  color: var(--color-font-default);
  position: relative;
  margin: 5px 5px 10px 5px;
  padding: 7px;
  transition: 0.3s;
  box-shadow: 0 6px 6px hsl(0deg 0% 0% / 0.3);
}

.catalog {
  position: sticky;
  top: 60px;
}

.catalog-card {
  font-size: 14px;
  animation: slideDown 0.3s ease-in-out;

  &::-webkit-scrollbar {
    background-color: transparent;
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: var(--color-scrollbar-thumb);
  }
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.catalog-card > li {
  text-decoration: none;
  list-style-type: none;
}

.catalog-card > ul {
  padding: 0;
}

.catalog-card {
  max-height: 70vh;
  overflow-y: auto;
  padding-right: 5px;

  li {
    text-decoration: none;
    list-style-type: none;
  }

  a {
    text-decoration: none;
  }

  a:visited {
    color: var(--color-font-default);
    text-decoration: none;
  }

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.05);
    border-radius: 3px;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 3px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.3);
  }

  :root[theme='dark'] &::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.05);
  }

  :root[theme='dark'] &::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.3);
  }

  :root[theme='dark'] &::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.4);
  }
}

.toc-level-1 {
  text-decoration: none;
}

.catalog-card ul {
  margin: 0;
}

.toc-level-1:visited {
  color: var(--color-font-default);
}

.catalog-card .toc-li:hover {
  background-color: #817b7b;
}