
.header {
  position: fixed;
  z-index: 9999;
  top: 0;
  background-color: var(--color-post-content-bg-default);
  color: var(--color-font-default);
  box-shadow: 0 6px 6px hsl(0deg 0% 0% / 0.3);
  width: 100%;
  height: 60px;
}

.header-item {
  margin: auto;
  max-width: 1000px;
}

.header-menu {
  margin-left: 100px;
  overflow-x: hidden;
}

.header-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;

  a {
    text-decoration: none;
    line-height: 60px;
  }

  li {
    display: inline;
    margin: 10px;
    padding: 10px 20px;
    transition: border-radius 1s;
    -webkit-transition: border-radius 1s;
    border-radius: 10px;
  }

  li:hover {
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    -webkit-box-shadow: 10px 10px 99px 6px rgba(240, 56, 255, 1);
    -moz-box-shadow: 10px 10px 99px 6px rgba(240, 56, 255, 1);
    box-shadow: 10px 10px 99px 6px rgba(240, 56, 255, 1);

  }
}

.logo-div {
  font-size: 20px;
  font-weight: 700;
  line-height: 60px;
}


.logo-div:hover {
  cursor: pointer;

}


.container {
  margin-top: 60px;
  width: 80%;
  min-width: 1000px;
  margin-left: auto;
  margin-right: auto;

}

.content {
  margin: 25px 5px 5px 5px;
  padding: 20px;
  background-color: var(--color-post-content-bg-default);
  border-radius: 10px;
  width: 80%;
  box-shadow: 0 0 10px 2px #817b7b;
  word-break: break-word;
  //animation: slideDown 0.3s ease-in-out;
}


@keyframes slideDown {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.pagination-div {
  text-align: center;
}

ul.pagination {
  display: inline-block;
  padding: 0;
  margin: 0;
}

ul.pagination li {
  display: inline;
}

ul.pagination li a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

ul.pagination li a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 5px;
}

ul.pagination li a.active {
  background-color: var(--color-post-content-bg-default);
  color: var(--color-font-default);
  border-radius: 5px;
}


.footer {
  width: 100%;
  line-height: 60px;
  text-align: center;
}

.post-list {
  margin: 5px;
  padding: 20px;
  width: 80%;
}

.side-list {
  width: 20%;
  min-width: 350px;
  margin-top: 20px;
}

.float-div {
  position: fixed;
  right: 10px;
  bottom: 15px;
  flex-direction: column;
}

.float-btn {
  background-color: var(--color-float-btn);
}