.post-list-item {
  width: 100%;
  height: 150px;
  display: flex;
  background-color: var(--color-post-content-bg-default);
  border-radius: 10px;
  margin: 0 0 30px 0;
  box-shadow: 0 6px 6px hsl(0deg 0% 0% / 0.3);
}

.post-list-item:hover {
  box-shadow: 1px 2px 8px hsl(220deg 60% 50%);
}

.post-bg {
  width: 50%;
  padding: 10px;
  text-align: center;
}

.post-left {
  flex-direction: row-reverse;
}

.post-bg img {
  max-width: 100%;
  max-height: 100%;
  transition: all 0.6s;
}

.post-bg img:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.recent-post-info {
  width: 50%;
  max-width: 466.72px;
  padding: 10px;

  .recent-post-title {
    margin-top: 20px;
    font-size: 27px;
    text-align: center;

    .recent-post-title-a:hover {
      color: cornflowerblue;
    }

    .recent-post-title-a {
      max-width: 445px;
      display: block;
      text-decoration: none;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .recent-post-time {
    padding-top: 20px;
    color: var(--color-font-default);
    font-size: 12px;
    text-align: center;
  }

  .recent-post-summary {
    display: block;
    max-height: 3em;
    padding: 0 20px;
    margin: 10px 0 10px 0;
    word-break: break-word;
    overflow-y: clip;
    text-overflow: ellipsis;
  }
}

.post-divider{
  width: 1px;
  height: 100%;
  background-color: #696969;
}