
.content-div {
  margin: 20px;
}

.container {
  //padding: 20px;
}


.layout-content {
}

.collapsed-btn {
  width: 71px;
  float: left;
  margin: 5px 0 5px 5px;

}

.layout-header{
  height: 50px;

}

.dashboard-content {
  padding: 20px;
}

.footer {
  margin: 0;
  padding: 20px;
}

.article-tool-div {
  //display: flex;
  //flex-direction: row-reverse;
  text-align: right;
  margin: 0 5px;
  padding: 5px 0;

  button {
    margin: 0 5px;

  }

}

.current-profile {
  width: 100%;
  padding: 20px 0 20px 20px;
  border-top: 1px solid #8888;
  box-shadow: 0 0 5px 1px rgba(105, 105, 105, 0.6);
  position: absolute;
  bottom: 0;
  flex-direction: row;
}

.user-avatar {
  background-color: transparent;
  border: 1px solid #8888;
  border-radius: 50px;
  width: 40px;
  height: 40px;
}

.user-avatar:hover{
  cursor: pointer;
}

.user-info {
  margin-left: 10px;
  background-color: #1234;
}

.profile-btn {
  width: 150px;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 15px;

  .profile-btn-item {

  }

}

