.info-bg {
    border-radius: 12px;
    width: 100%;
    height: 120px;
    object-fit: cover;
    position: absolute;
    top: 0;
}

.user {
    background-color: var(--color-post-content-bg-default);
    padding: 15px 15px 15px;
    display: flex;
    position: relative;
    align-items: center;
    font-size: 16px;
    flex-direction: column;
}

.avatar-wrapper {

}

.user-avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.username{
    display: block;
    font-weight: 700;
    padding-left: 6px;
}

.info{
    margin-top: 6px;
    word-break: break-word;
    font-size: 12px;
    font-weight: bold;
    height: 3em;
}

.write_poem {

}

.write_poem::after {
    content: '|';
    animation: poem_blink 1s infinite;
}

@keyframes poem_blink {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


.divider{
    margin: 6px 0;
    width: 90%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.1);
}

:root[theme='dark'] .divider {
    background-color: rgba(255, 255, 255, 0.1);
}

.user-link {
    text-align: center;
    a{
        color: var(--color-primary);
        text-decoration: none;
        transition: color 0.3s ease;
    }
    a:hover {
        color: var(--color-secondary);
    }
    a:visited{
        color: var(--color-primary);
    }
}

.link-item{
    padding: 0 10px;
}
